<div class="row">
    <div class="col-xs-5" style="left: 30%;margin-top:10%; border-style: ridge;padding-bottom:2%;background: #84bde8;  
    border-radius: 15px ;border-color:#3C565B">
        <form (ngSubmit)="onSignUp(f)" #f="ngForm">
            <label for="email" style="padding-top:5%">Email</label> <br>
            <input type="text" id="email" class="form-control" name="email" style="width:60%" ngModel required/><br>
            <label for="password">Password</label><br>
            <input type="password" id="password" class="form-control" name="password" style="width:60%" ngModel required/><br>
            <button class="btn btn-success" type="submit" style="background-color:rgba(0, 98, 255, 0.844);">Login</button> | 
            <button class="btn btn-success" type="submit" style="background-color:rgba(0, 98, 255, 0.844);">Sign Up</button>
            <br><br>
            <a href="#" style="color: black">Forgot Password</a>
        </form> 
       <!-- <input type="submit" class="btn btn-success" value="Login"/> | <input type="submit" class="btn btn-primary" value="Sign Up">
    -->
    </div>
    <div>
        <a href="#" class="fa fa-facebook"></a> 
        <a href="#" class="fa fa-twitter" ></a> 
        <a href="#" class="fa fa-instagram" ></a> 
        <a href="#" class="fa fa-google"></a> 
    </div>
</div>

